h1 {
    text-align: center;
    color: rgb(100, 237, 178);
    
}

  img {width: 250px;
        height: 250px;
        width: 80%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

/*NAV BARD*/
  nav {
      background-color: yellowgreen;
      padding: 10px;
  }
  nav ul {
    list-style-type: square;
    margin: 0;
  }
  nav li {
      display: inline;
      margin-right: 25px;
    }
    nav a {
        color: white;
        font-size: 1.5em;
    }
    nav a:hover {
        color: blueviolet;
        text-decoration: none;
    }